<div class="container palette-warning profile-section-fk">
<!-- profile-fk stands for profile friendkarma, i will use this to semantically markup areas that I might need to individually style later, this will continue throughout this file with the -fk nomenclature -->
	<div class="container">
		<div class="span4 center">
			<%= image_tag 'logo.png'%>
		</div>
		<hr />
	</div>

	<div class="row">
		<div class="span10">
			<div class="row profile-fk">
				<div class="span3 offset1 palette-night">
					<a class="btn offset2" href="#"><i class="icon-search icon-cog"><i></a>
					<img src="..." class="img-rounded" alt="Avatar">
				</div>
				<div class="span5 offset1 palette-clouds">requester</div>
			</div>
		</div>
	</div>
</div>

<div class="container <!-- palette-night --> feed-section-fk">
	<div class="row">
		<div class="span10">
			<div class="row">
				<div class"button palette-warning-dark">
					<h3>Can you help?</h3>
				</div>
				<div class"button palette-success">
					<h3>I got this...</h3>
				</div>
			</div>
		</div>
	</div>
</div>