<h1><%= current_user.username.capitalize %>'s Memberships</h1>

<p>*Leaving a group is permanent. Rejoining groups is only possible through a member invitation.*</p>

<table>
  <tr>
    <th>Groups</th>
    <th></th>
  </tr>

<% @memberships.each do |membership| %>
  <tr>
    <td><%= membership.group.name %></td>
    <td><%= link_to 'Leave Group', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>


  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Membership', new_membership_path %>

