  <div class="request">
    <ul>
      <li>Job Name: <%=  activity.trackable.job.name %></li>
      <li>Request: <%=  activity.trackable.request_text %></li>
      <li>From: <%=  activity.owner.username %></li>
    </ul>
  </div>

