  <div class="comment">
    <ul>
      <li><b>Comment: <%=  activity.owner.username %> : <%=  activity.trackable.comment_text %></b></li>
      <li>Job Name: <%=  activity.trackable.job.name %></li>
      <% if current_user.id == activity.owner.id %>
        <li><%= link_to 'Destroy', comment_path(activity.trackable.id), method: :delete %></li>
      <% end %>
    </ul>
  </div>
