  <div class="comment">
    <ul>

      <li>Comment: <%=  activity.trackable.comment_text %></li>

      <li>Job Name: <%=  activity.trackable.job.name %></li>

      <li>From: <%=  activity.owner.username %></li>

      <li><%= link_to 'Destroy', comment_path(activity.trackable.id), method: :delete %></li>

    </ul>
  </div>
