// Place all the styles related to the interested_user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#info_tab{
	color: white;
	text-align: center;
}

#banner {
	background-image: url('backgroundzigzag.png');
	background-repeat: repeat-x;
}

#info_banner {
	text-align: center;
}

#email_info_tab {
	border-radius:10px;
	text-align: center;
	padding:  25px 75px 15px 75px;
	margin: 10px;
}

#info_tab {

	font-family: 'Lato', sans-serif;
	border-radius: 10px;
}

h1#info_tab {
	font-size: 18pt;
	line-height: .2em;
}

#banner-row {
	border-bottom: 1px white solid;
	margin-bottom: 25px;
	padding: 10px, 0;
}
#front_wrapper{

	height: 1000px;
	margin-top: -10px;
}
