//cut and paste the application_css files here because of the cascasding issues


body {
	padding: 40px 0 0 0;
}

.navbar-inner .container {
	height: 1px;
}

.navbar-inner .nav li a {
  background-color: #34495e;
  color: #BBB;
  height: 15px;
}

.navbar-inner .nav li a:hover {
  background-color: #BDC3C7;
}

.navbar-inner .nav li a:active {
  background-color: #95A5A6;
  border: 1px solid #BDC3C7;
}
